Source: vyos-config-git
Section: admin
Priority: extra
Maintainer: philippe <philippe@kangu.be>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: 
Vcs-Git: git@github.com:phuybre/vyos-config-git.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/vyos-config-git.git;a=summary

Package: vyos-config-git
Architecture: all
Depends: ${misc:Depends}
Description: Keep a vyos configuration in git
